{% extends "base.html" %} {% block title %}About{% endblock %} {% block body %}{% endblock %} {% block content
    %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style1.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class = "image">
               <img src="BACKGROUND.jpg" />
            </div>

            <div class = "content">
                <h2>About Our Project</h2>
                <span><!-- line here --></span>
                <p><strong>"Unlocking the Power of AI for Safer Roads: Introducing our Automatic Number Plate Recognition Project"</strong></p>
                <p>ANPR is a highly accurate system capable of reading vehicle number plates without human intervention.</p>
                <ul class = "links">
                    <li><a href = "https://github.com/Samratmitra1999">Work</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "tel:+91 7595868459">Contact</a></li>
                </ul>
                <ul class = "icons">
                    <li>
                        <a href="https://twitter.com/SamratM45060644">
                            <i class="fab fa-twitter"></i>
                          </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/samrat-mitra-0849301ba/">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </li>
                    <li>
                        <a href="https://github.com/Samratmitra1999">
                            <i class="fab fa-github"></i>
                          </a>
                    </li>
            </div>
        </section><br><br>
    </body>
    {% endblock %}